@import "../../App.scss";

.formCenter {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .title {
    color: white;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    /*
    Form Style
    */

    .inputContainer {
      display: flex;
      flex-direction: column;
      color: white;
      font-size: 18px;
      gap: 0.4rem;
      label {
        margin-left: 0.5rem;
        font-size: 14px;
      }
    }

    input {
      padding: 12px 20px;
      box-sizing: border-box;
      border-radius: 8px;
      border: 1px solid $accentColor;
      background-color: rgb(14, 13, 13);
      color: white;
    }

    input::placeholder {
      color: white;
    }

    input[type="button"] {
      width: 35rem;
      padding: 1rem 0;
      background-color: $accentColor;
      border-radius: 8px;
      color: $bgColor;
      font-weight: 700;
      font-size: 24px;
      margin-top: 1rem;
      transition: all ease-in-out 0.2s;
      cursor: pointer;
    }

    input[type="button"]:hover {
      transform: scale(1.01);
      opacity: 75%;
    }

    input {
      font-size: large;
      font-family: "Lato", sans-serif;
    }
  }
}
